//******* COLORS *******
// Main
primaryColor = #1976d2
secondaryColor = #303030
textPrimaryColor = secondaryColor

// Background
backgroundPrimaryColor = #f1f2f1

// Tags
tagFirebaseColor = #f6bf26
tagAngularColor = #dd0031

//******* FONTS *******
primaryFont = 'ADAM.CG PRO', sans-serif 
secondaryFont = 'Assistant', sans-serif



