//******* COLORS *******
// Main
primaryColor = #1976d2
secondaryColor = #303030
textPrimaryColor = secondaryColor

// Background
backgroundPrimaryColor = #f1f2f1

// Tags
tagFirebaseColor = #f5d93c
tagAngularColor = #d60c36

//******* FONTS *******
primaryFont = 'ADAM.CG PRO', sans-serif 
secondaryFont = 'Assistant', sans-serif



